.docente {
  width: 90%;
  min-height: 100vh;
  margin: auto;
}

.fa-trash {
  color: rgb(150, 33, 33);
  font-size: 1rem;
  cursor: pointer;
}
.fa-pen {
  color: rgb(207, 171, 10);
  font-size: 1rem;
  cursor: pointer;
}
